<ng-container *ngIf="feeds">
    <mat-card *ngFor="let feed of feeds" class="feed-card">
        <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-image':' url(' + feed['data'].thumbnail + ')'}"></div>
            <mat-card-subtitle>
                Posted by: {{feed['data'].author}} {{createdTimeAgo(feed['data'].created_utc )}}
            </mat-card-subtitle>
            <mat-card-title><a class="feee-link" [href]="'https://www.reddit.com/' + feed['data'].permalink">{{feed['data'].title}}</a>
            </mat-card-title>
        </mat-card-header>
        <a mat-raised-button class="feed-comments-link" [href]="'https://www.reddit.com/' + feed['data'].permalink" target="_blank">
            <mat-icon>comment_bank</mat-icon>
            {{feed['data'].num_comments}} Comments
        </a>
        <button *ngIf="feed['data'].selftext" (click)="openFeedText(feed)">{{showFeedText && (feed['data'].id == selectedFeed['data'].id) ? 'Close' : 'Read More'}}</button>
        <div class="feed-textarea-container" *ngIf="showFeedText && (feed['data'].id == selectedFeed['data'].id)">
            <textarea rows="15">{{feed['data'].selftext}}</textarea>
        </div>
        <p mat-card-content>{{feed['data'].score}}</p>
    </mat-card>
</ng-container>

<loading></loading>