<mat-form-field appearance="fill">
    <mat-label>Select feed category</mat-label>
    <mat-select (selectionChange)="onCategoryChange()" [(value)]="categorySelected">
        <mat-option *ngFor="let feedCategory of feedCategories" [value]="feedCategory.value">
            {{feedCategory.viewValue}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="feed-form-field" appearance="fill">
    <mat-label>Enter feed</mat-label>
    <input matInput type="text" #inputFeed [value]="inputFeed.value">
    <button mat-button matSuffix (click)="clearInput(inputFeed)">
        <mat-icon>close</mat-icon>
    </button>
    <button mat-button matSuffix (click)="onInputFeed(inputFeed)">
        <mat-icon>done</mat-icon>
    </button>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Select number of feeds</mat-label>
    <mat-select (selectionChange)="onNumberOfFeedsChange()" [(value)]="feedLimitSelected">
        <mat-option *ngFor="let feeds of numberOfFeeds" [value]="feeds.value">
            {{feeds.value}}</mat-option>
    </mat-select>
</mat-form-field>
<div class="home-bg-color">
    <feeds-card-list [feeds]="feeds$ |async"></feeds-card-list>
</div>